<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1027668859954-e0gsj5c5sbq1ohn6ohr00emqd7g621r7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027668859954-e0gsj5c5sbq1ohn6ohr00emqd7g621r7</string>
	<key>API_KEY</key>
	<string>AIzaSyBZge6ibshOnM-1-z31clk9dXiw4gYr30I</string>
	<key>GCM_SENDER_ID</key>
	<string>1027668859954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tony.MangoHacks2019</string>
	<key>PROJECT_ID</key>
	<string>mangohacks2019-5d5c2</string>
	<key>STORAGE_BUCKET</key>
	<string>mangohacks2019-5d5c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027668859954:ios:2bc40ed182199ab2</string>
	<key>DATABASE_URL</key>
	<string>https://mangohacks2019-5d5c2.firebaseio.com</string>
</dict>
</plist>